* 
    box-sizing: border-box 
    &::after 
        box-sizing: border-box 
    &::before 
        box-sizing: border-box 


body 
    font-family: "Inter", sans-serif
    font-size: 14px
    color: #3D4249
    font-weight: 500
    

h1 
    font-size: 44px
    font-family: "Playfair Display", serif
    font-weight: 800

h2 
    font-size: 22px 
    font-family: "Playfair Display", serif
    font-weight: 800

h3 
    font-family: "Inter", sans-serif
    font-size: 14px
    font-weight: 500

a 
    color: inherit
    text-decoration: none

.container 
    max-width: 1230px 
    margin: 0px auto
    padding: 0px 15px

